{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible show flex items-center mb-2 mt-5 text-white" role="alert">
                <i data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i>
                {{ message }}
                <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close">
                    <i data-lucide="x" class="w-4 h-4"></i>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <!-- BEGIN: Vertical Form -->
    <div class="intro-y box mt-5">
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
            <h2 class="text-3xl mx-auto mt-3 mb-3">ADD CUSTOMER</h2>
        </div>
        <div class="px-3 sm:px-10 py-5">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Name</label>
                        <input name="name" type="text" class="form-control" placeholder="Enter name here" required maxlength="100">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Location</label>
                        <input name="location" type="text" class="form-control" placeholder="Enter location here" required maxlength="50">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Mobile</label>
                        <input name="mobile" type="text" class="form-control" placeholder="Enter mobile number here" required maxlength="15">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Email</label>
                        <input name="email" type="email" class="form-control" placeholder="Enter category name here" maxlength="100">
                    </div>

                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <button class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END: Vertical Form -->
</div>
<!-- END: Content -->
{% endblock content %}