{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">
    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
            <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                    {% if customer.photo %}
                    <img alt="" class="rounded-full" src="{{ customer.photo.url }}">
                    {% else %}
                    <img alt="" class="rounded-full" src="{% static 'backend/images/preview.jpg' %}">
                    {% endif %}
                </div>
                <div class="ml-5">
                    <div class="truncate sm:whitespace-normal font-medium text-lg">{{ customer.name }}</div>
                    <div class="text-slate-500">{{ customer.location }} / CX-0{{ customer.auto_id }}</div>
                </div>
            </div>
            <div
                class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="font-medium text-center lg:text-left lg:mt-3">Contact Details</div>
                <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="phone"
                            class="w-4 h-4 mr-2"></i> {{ customer.mobile }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="mail"
                            class="w-4 h-4 mr-2"></i> {{ customer.email | default:'None' }} </div>
                    <!-- <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="twitter" class="w-4 h-4 mr-2"></i> Twitter Al Pacino </div> -->
                </div>
            </div>
            <div
                class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-slate-200/60 dark:border-darkmode-400 pt-5 lg:pt-0">
                <div class="text-center rounded-md w-40 py-3">
                    <div class="font-medium text-xl">{{ on_calls.count | default:'0' }}</div>
                    <div class="text-slate-500">Total Works</div>
                </div>
                <div class="text-center rounded-md w-40 py-3">
                    <div class="font-medium text-xl">{{ net_amount | default:'0.00' }}</div>
                    <div class="text-slate-500">P / L Generated</div>
                </div>
                <div class="text-center rounded-md w-40 py-3">
                    <div class="font-medium text-xl">{{ attendances.count | default:'0' }}</div>
                    <div class="text-slate-500">Worked Count</div>
                </div>
            </div>
        </div>
        <ul class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center" role="tablist">
            <li id="lead-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center active" data-tw-target="#lead"
                    aria-selected="false" role="tab">
                    <i class="w-4 h-4 mr-2" data-lucide="shield"></i> Works
                </a>
            </li>

            <li id="attandance-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#attandance"
                    aria-selected="false" role="tab">
                    <i class="w-4 h-4 mr-2" data-lucide="shield"></i> Attandance
                </a>
            </li>

            <li id="expense-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#expense"
                    aria-selected="false" role="tab">
                    <i class="w-4 h-4 mr-2" data-lucide="shield"></i> Transactions
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Profile Info -->
    <div class="tab-content mt-5">

        <div id="lead" class="tab-pane active" role="tabpanel" aria-labelledby="lead-tab">
            {% include 'tables/oncalls.html' %}
        </div>

        <div id="attandance" class="tab-pane" role="tabpanel" aria-labelledby="attandance-tab">
            {% include 'tables/attendance.html' %}
        </div>

        <div id="expense" class="tab-pane" role="tabpanel" aria-labelledby="expense-tab">
            {% include 'tables/payments.html' %}
        </div>
    </div>
</div>
<!-- END: Content -->
{% endblock content %}