{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible show flex items-center mb-2 mt-5 text-white" role="alert">
                <i data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i>
                {{ message }}
                <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close">
                    <i data-lucide="x" class="w-4 h-4"></i>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 mt-10">
            {% if user.is_superuser %}
                <h1 class="text-center text-3xl">APPROVE ATTANDANCE</h1>
            {% else %}
                <h1 class="text-center text-3xl">ATTANDANCE</h1>
            {% endif %}
            <hr class="mt-5">
        </div>

        <div class="col-span-12 mt-5">

            {% if not clocked %}
                <div class="intro-y block sm:flex items-center h-10">
                    <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                        <button class="btn box flex items-center text-slate-600 dark:text-slate-300"> <i data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Export to Excel </button>
                        <a href="{% url 'attandance-add' %}" class="btn btn-success text-white mx-2">ADD ATTANDANCE</a>
                    </div>
                </div>
            {% endif %}

            <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                {% if attandances %}
                    <table class="table table-report sm:mt-2">
                        <thead>
                            <tr>
                                <th class="text-center whitespace-nowrap">NO</th>
                                <th class="text-center whitespace-nowrap">DATE</th>

                                {% if user.is_superuser %}
                                    <th class="text-center whitespace-nowrap">TECHNICIAN</th>
                                    <th class="text-center whitespace-nowrap">PHOTO</th>
                                {% endif %}

                                <th class="text-center whitespace-nowrap">SITE</th>
                                <th class="text-center whitespace-nowrap">START TIME</th>
                                <th class="text-center whitespace-nowrap">END TIME</th>
                                <th class="text-center whitespace-nowrap">STATUS</th>
                                <th class="text-center whitespace-nowrap">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attandance in attandances %}
                                <tr class="intro-x">
                                    <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>
                                    <td class="text-center whitespace-nowrap">{{ attandance.date | date:'d M Y' }}</td>

                                    {% if user.is_superuser %}
                                        <td class="text-center">
                                            <a href="" class="font-medium whitespace-nowrap">{{ attandance.staff }}</a>
                                            <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ attandance.staff.designation }} / {{ attandance.staff.department }}</div>
                                        </td>
                                        <td class="">
                                            <div class="flex justify-center">
                                                <div class="w-10 h-10 image-fit zoom-in">
                                                    {% if attandance.staff.user.photo %}
                                                        <img alt="" class="tooltip rounded-full" src="{{ attandance.staff.user.photo.url }}" title="{{ attandance.staff }}">
                                                    {% else %}
                                                        <img alt="" class="tooltip rounded-full" src="{% static 'backend/images/preview-11.jpg' %}" title="{{ attandance.staff }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    {% endif %}

                                    <td class="text-center whitespace-nowrap">{{ attandance.on_call.site_name }}</td>
                                    <td class="text-center whitespace-nowrap text-success">{{ attandance.start_time | date:"h:i A" }}</td>
                                    <td class="text-center whitespace-nowrap text-warning">{{ attandance.end_time | date:"h:i A" }}</td>

                                    <td class="text-center whitespace-nowrap">
                                        {% if attandance.status == 'APPROVED' %}
                                            <p class="text-success">{{ attandance.status }}</p>
                                        {% elif attandance.status == 'REJECTED' %}
                                            <p class="text-danger">{{ attandance.status }}</p>
                                        {% else %}
                                            <p class="text-warning">{{ attandance.status }}</p>
                                        {% endif %}
                                    </td>

                                    <td class="table-report__action w-36">
                                        <div class="flex justify-center items-center">

                                            {% if user.is_superuser and attandance.status != 'APPROVED' %}
                                                <a class="flex items-center text-success" href="{% url 'attandance-approve' attandance.slug %}" onclick="return confirm('Are you sure you want to approve the attendance ?');">
                                                    <i data-lucide="check-circle" class="w-4 h-4 mx-2"></i>
                                                </a>
                                            {% endif %}
                                            
                                            {% if user.is_superuser or attandance.status == 'PENDING' %}
                                                <a class="flex items-center text-warning mx-2" href="{% url 'attandance-edit' attandance.slug %}">
                                                    <i data-lucide="edit" class="w-4 h-4 mx-2"></i>
                                                </a>
                                            {% endif %}

                                            {% if user.is_superuser and attandance.status != 'REJECTED' %}
                                                <a class="flex items-center text-danger" href="{% url 'attandance-reject' attandance.slug %}" onclick="return confirm('Are you sure you want to reject the attendance ?');">
                                                    <i data-lucide="x-circle" class="w-4 h-4 mx-2"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width">
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                        </i>
                                    <div style="text-align: center;">No data available!</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- END: Content -->
{% endblock content %}