{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible show flex items-center mt-5 text-white"
        role="alert">
        <i data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i>
        {{ message }}
        <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close">
            <i data-lucide="x" class="w-4 h-4"></i>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 mt-10">
            <h1 class="text-center text-3xl">DEPARTMENTS</h1>
            <hr class="mt-5">
        </div>

        <div class="col-span-12 mt-5">
            <div class="intro-y block sm:flex items-center h-10">
                <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                    <button class="btn box flex items-center text-slate-600 dark:text-slate-300"> <i
                            data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Export to Excel </button>
                    <a href="{% url 'department-add' %}" class="btn btn-success text-white mx-2">ADD DEPARTMENT</a>
                </div>
            </div>

            {% include 'tables/departments.html' %}

        </div>
    </div>
</div>
<!-- END: Content -->
{% endblock content %}