{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">
    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
            <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                    {% if staff.user.photo %}
                        <img alt="" class="rounded-full" src="{{ staff.user.photo.url }}">
                    {% else %}
                        <img alt="" class="rounded-full" src="{% static 'backend/images/preview.jpg' %}">
                    {% endif %}
                </div>
                <div class="ml-5">
                    <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{ staff.user.first_name }}</div>
                    <div class="text-slate-500">{{ staff.designation }} / {{ staff.department }}</div>
                </div>
            </div>
            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="font-medium text-center lg:text-left lg:mt-3">Contact Details</div>
                <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ staff.user.mobile }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="mail" class="w-4 h-4 mr-2"></i> {{ staff.user.email }} </div>
                    <!-- <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="twitter" class="w-4 h-4 mr-2"></i> Twitter Al Pacino </div> -->
                </div>
            </div>
            <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-slate-200/60 dark:border-darkmode-400 pt-5 lg:pt-0">
                <div class="text-center rounded-md py-3 px-3">
                    <div class="font-medium text-xl">{{ attandances.count }}</div>
                    <div class="text-slate-500">Worked Days</div>
                </div>
                <div class="text-center rounded-md py-3 px-3">
                    <div class="font-medium text-xl">{{ on_calls.count }}</div>
                    <div class="text-slate-500">Worked Sites</div>
                </div>
                <div class="text-center rounded-md py-3 px-3">
                    <div class="font-medium text-xl">0</div>
                    <div class="text-slate-500">Something</div>
                </div>
            </div>
        </div>
        <ul class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center" role="tablist" >
            <li id="profile-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center active" data-tw-target="#profile" aria-controls="profile" aria-selected="true" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="user"></i> Personal Details </a>
            </li>
            <li id="attandance-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#attandance" aria-selected="false" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="shield"></i> Attandance </a>
            </li>
            <li id="payments-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#payments" aria-selected="false" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="shield"></i> Payments </a>
            </li>
            <li id="work-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#work" aria-selected="false" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="shield"></i> Work Sites </a>
            </li>
            <li id="-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#change-password" aria-selected="false" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="lock"></i> Change Password </a>
            </li>
            <!-- <li id="settings-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#settings" aria-selected="false" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="settings"></i> Settings </a>
            </li> -->
        </ul>
    </div>
    <!-- END: Profile Info -->
    <div class="tab-content mt-5">
        <div id="profile" class="tab-pane active" role="tabpanel" aria-labelledby="profile-tab">
            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5 box px-5 py-10">

                <div class="intro-y col-span-12 lg:col-span-3">
                    <p class="mb-2">Name</p>
                    <p class="form-control p-3">{{ staff.user.first_name }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-3">
                    <p class="mb-2">Mobile Number</p>
                    <p class="form-control p-3">{{ staff.user.mobile }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-3">
                    <p class="mb-2">Email</p>
                    <p class="form-control p-3">{{ staff.user.email }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-3">
                    <p class="mb-2">Location</p>
                    <p class="form-control p-3">{{ staff.location }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-3">
                    <p class="mb-2">Aadhar Number</p>
                    <p class="form-control p-3">{{ staff.aadhar }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-3">
                    <p class="mb-2">Blood Group</p>
                    <p class="form-control p-3">{{ staff.blood }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-3">
                    <p class="mb-2">Department</p>
                    <p class="form-control p-3">{{ staff.department }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-3">
                    <p class="mb-2">Designation</p>
                    <p class="form-control p-3">{{ staff.designation }}</p>
                </div>

                <div class="intro-y col-span-12">
                    <hr>
                    <h1 class="text-center mt-3 mb-3">Emergency Contact Details</h1>
                    <hr>
                </div>

                <div class="intro-y col-span-12 lg:col-span-6">
                    <p class="mb-2">Contact Name</p>
                    <p class="form-control p-3">{{ staff.contact_name }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-6">
                    <p class="mb-2">Relation</p>
                    <p class="form-control p-3">{{ staff.relation }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-6">
                    <p class="mb-2">Contact Number</p>
                    <p class="form-control p-3">{{ staff.contact_number }}</p>
                </div>

                <div class="intro-y col-span-12 lg:col-span-6">
                    <p class="mb-2">Contact Address</p>
                    <p class="form-control p-3">{{ staff.address }}</p>
                </div>
            </div>
        </div>

        <div id="attandance" class="tab-pane" role="tabpanel" aria-labelledby="attandance-tab">
            <div class="col-span-12 mt-5">
                <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                    {% if attandances %}
                    <table class="table table-report sm:mt-2">
                        <thead>
                            <tr>
                                <th class="text-center whitespace-nowrap">NO</th>
                                <th class="text-center whitespace-nowrap">DATE</th>
                                <th class="text-center whitespace-nowrap">SITE</th>
                                <th class="text-center whitespace-nowrap">START TIME</th>
                                <th class="text-center whitespace-nowrap">END TIME</th>
                                <th class="text-center whitespace-nowrap">STATUS</th>
                                <th class="text-center whitespace-nowrap">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attandance in attandances %}
                                <tr class="intro-x">
                                    <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>
                                    <td class="text-center whitespace-nowrap">{{ attandance.date | date:'d M Y' }}</td>
                                    <td class="text-center whitespace-nowrap">{{ attandance.on_call.site_name }}</td>
                                    <td class="text-center whitespace-nowrap text-success">{{ attandance.start_time | date:"h:i A" }}</td>
                                    <td class="text-center whitespace-nowrap text-warning">{{ attandance.end_time | date:"h:i A" }}</td>

                                    <td class="text-center whitespace-nowrap">
                                        {% if attandance.status == 'APPROVED' %}
                                            <p class="text-success">{{ attandance.status }}</p>
                                        {% elif attandance.status == 'REJECTED' %}
                                            <p class="text-danger">{{ attandance.status }}</p>
                                        {% else %}
                                            <p class="text-warning">{{ attandance.status }}</p>
                                        {% endif %}
                                    </td>

                                    <td class="table-report__action w-36">
                                        <div class="flex justify-center items-center">

                                            {% if attandance.status != 'APPROVED' %}
                                                <a class="flex items-center text-success" href="{% url 'attandance-approve' attandance.slug %}" onclick="return confirm('Are you sure you want to approve the attendance ?');">
                                                    <i data-lucide="check-circle" class="w-4 h-4 mx-2"></i>
                                                </a>
                                            {% endif %}
                                            
                                            {% if attandance.status == 'PENDING' %}
                                                <a class="flex items-center text-warning mx-2" href="{% url 'attandance-edit' attandance.slug %}">
                                                    <i data-lucide="edit" class="w-4 h-4 mx-2"></i>
                                                </a>
                                            {% endif %}

                                            {% if attandance.status != 'REJECTED' %}
                                                <a class="flex items-center text-danger" href="{% url 'attandance-reject' attandance.slug %}" onclick="return confirm('Are you sure you want to reject the attendance ?');">
                                                    <i data-lucide="x-circle" class="w-4 h-4 mx-2"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width">
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                        </i>
                                    <div style="text-align: center;">No data available!</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>

        <div id="payments" class="tab-pane" role="tabpanel" aria-labelledby="payments-tab">
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12">
                    <div class="grid grid-cols-12 gap-6 mt-5">
                        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                            <div class="report-box zoom-in">
                                <div class="box p-5 flex">
                                    <div class="text-3xl font-medium leading-8">{{ expense_amount | default:0.0 }}</div>
                                    <div class="text-base text-danger font-medium ml-auto">SELF EXPENSE</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                            <div class="report-box zoom-in">
                                <div class="box p-5 flex">
                                    <div class="text-3xl font-medium leading-8">{{ petty_expense | default:0.0 }}</div>
                                    <div class="text-base text-danger font-medium ml-auto">PETTY EXPENSE</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                            <div class="report-box zoom-in">
                                <div class="box p-5 flex">
                                    <div class="text-3xl font-medium leading-8">{{ petty_balance | default:0.0 }}</div>
                                    <div class="text-base text-warning font-medium ml-auto">PETTY BALANCE</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                            <div class="report-box zoom-in">
                                <div class="box p-5 flex">
                                    <div class="text-3xl font-medium leading-8">{{ credit_expense | default:0.0 }}</div>
                                    <div class="text-base text-warning font-medium ml-auto">CREDIT AMOUNT</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-span-12 mt-5">
                    <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                        {% if expenses %}
                            <table class="table table-report sm:mt-2">
                                <thead>
                                    <tr>
                                        <th class="text-center whitespace-nowrap">NO</th>
                                        <th class="text-center whitespace-nowrap">DATE</th>
                                        <th class="text-center whitespace-nowrap">SITE</th>
                                        <th class="text-center whitespace-nowrap">CATEGORY</th>
                                        <th class="text-center whitespace-nowrap">TITLE</th>
                                        <th class="text-center whitespace-nowrap">AMOUNT</th>
                                        <th class="text-center whitespace-nowrap">ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expense in expenses %}
                                        <tr class="intro-x">
                                            <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>
        
                                            <td class="text-center whitespace-nowrap">{{ expense.date | date:'d M Y' }}</td>

                                            <td class="text-center whitespace-nowrap">{{ expense.on_call }}</td>
        
                                            <td class="text-center whitespace-nowrap">{{ expense.category }}</td>
        
                                            <td class="text-center whitespace-nowrap font-medium">{{ expense.title }}</td>
                        
                                            <td class="text-center whitespace-nowrap text-danger font-medium">{{ expense.amount }}</td>
        
                                            <td class="table-report__action w-24">
                                                <div class="flex justify-center items-center">
                                                    <a class="flex items-center text-danger" href="{% url 'delete-on-call-expense' expense.slug %}" onclick="return confirm('Are you sure you want to delete the transaction ?');">
                                                        <i data-lucide="trash-2" class="w-4 h-4"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                                <table class="table table-report -mt-2">
                                    <tbody>
                                        <tr class="intro-x width">
                                            <td class=" width" style="width:100%;">
                                                <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                                </i>
                                            <div style="text-align: center;">No data available!</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="work" class="tab-pane" role="tabpanel" aria-labelledby="work-tab">
            <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                {% if on_calls %}
                    <table class="table table-report sm:mt-2">
                        <thead>
                            <tr>
                                <th class="text-center whitespace-nowrap">NO</th>
                                <th class="text-center whitespace-nowrap">SITE</th>
                                <th class="text-center whitespace-nowrap">DATE</th>
                                <th class="text-center whitespace-nowrap">CUSTOMER</th>
                                <th class="text-center whitespace-nowrap">SERVICE</th>
                                <th class="text-center whitespace-nowrap">STATUS</th>
                                <th class="text-center whitespace-nowrap">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for call in on_calls %}
                                <tr class="intro-x">
                                    <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>
                                    
                                    <td class="text-center whitespace-nowrap">{{ call.site_name }}</td>

                                    <td class="text-center whitespace-nowrap">{{ call.date_added | date:'d M Y' }}</td>

                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap">{{ call.customer }}</a>
                                        <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ call.customer.mobile }} / {{ call.customer.email | default:'None' }}</div>
                                    </td>

                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap">{{ call.service }}</a>
                                        <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ call.service.category }}</div>
                                    </td>

                                    <td class="text-center whitespace-nowrap">
                                        {% if call.status == 'PENDING' %}
                                            <p class="text-warning">{{ call.status }}</p>
                                        {% elif call.status == 0 %}
                                            <p class="text-success">NOT IN SERVICE</p>
                                        {% endif %}
                                    </td>

                                    <td class="table-report__action w-56">
                                        <div class="flex justify-center items-center">
                                            <a class="flex items-center mx-2 text-warning" href="{% url 'on-call-details' call.slug %}">
                                                <i data-lucide="eye" class="w-4 h-4 mx-2"></i>
                                            </a>

                                            {% if call.status == "PENDING" %}
                                                <a class="flex items-center mx-2" href="{% url 'on-call-edit' call.slug %}">
                                                    <i data-lucide="edit" class="w-4 h-4 mx-2"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width">
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                        </i>
                                    <div style="text-align: center;">No data available!</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>

        <div id="change-password" class="tab-pane" role="tabpanel" aria-labelledby="change-password-tab">
            <div class="intro-y box mt-5">
                <div class="px-3 sm:px-10 py-5">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
        
                            <div class="intro-y col-span-12 sm:col-span-6">
                                <label for="input-wizard-2" class="form-label">New Password</label>
                                <input name="name" type="text" class="form-control" placeholder="Enter new password here" required maxlength="100">
                            </div>

                            <div class="intro-y col-span-12 sm:col-span-6">
                                <label for="input-wizard-2" class="form-label">Confirm Password</label>
                                <input name="name" type="text" class="form-control" placeholder="Enter confirm password here" required maxlength="100">
                            </div>
        
                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <a class="btn btn-outline-secondary w-24 ml-2" href="">Cancel</a>
                                <button class="btn btn-primary w-24 ml-2" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content -->
{% endblock content %}