{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible show flex items-center mb-2 mt-5 text-white" role="alert">
                <i data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i>
                {{ message }}
                <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close">
                    <i data-lucide="x" class="w-4 h-4"></i>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <!-- BEGIN: Lead Followups -->
    <div class="nav nav-boxed-tabs mt-5 col-span-12" role="tablist">
        <!-- Site Visit Tab -->
        <div id="example-1-tab" class="nav-item flex-1" role="presentation">
            <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#example-tab-1" type="button" role="tab" aria-controls="example-tab-1" aria-selected="true">
                Works
            </button>
        </div>
        <!-- Works Tab -->
        <!-- <div id="example-2-tab" class="nav-item flex-1" role="presentation">
            <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#example-tab-2" type="button" role="tab" aria-controls="example-tab-2" aria-selected="false">
                Site Visit
            </button>
        </div> -->
    </div>
    <div class="tab-content mt-5">
        <div id="example-tab-1" class="tab-pane leading-relaxed active" role="tabpanel" aria-labelledby="example-1-tab">
            <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                {% if on_calls %}
                    <table class="table table-report sm:mt-2">
                        <thead>
                            <tr>
                                <th class="text-center whitespace-nowrap">NO</th>
                                <th class="text-center whitespace-nowrap">SITE</th>
                                <th class="text-center whitespace-nowrap">DATE</th>
                                <th class="text-center whitespace-nowrap">CUSTOMER</th>
                                <th class="text-center whitespace-nowrap">SERVICE</th>
                                <th class="text-center whitespace-nowrap">STATUS</th>
                                <th class="text-center whitespace-nowrap">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for call in on_calls %}
                                <tr class="intro-x">
                                    <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>
                                    
                                    <td class="text-center whitespace-nowrap">{{ call.site_name }}</td>

                                    <td class="text-center whitespace-nowrap">{{ call.date_added | date:'d M Y' }}</td>

                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap">{{ call.customer }}</a>
                                        <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ call.customer.mobile }} / {{ call.customer.email | default:'None' }}</div>
                                    </td>

                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap">{{ call.service }}</a>
                                        <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ call.service.category }}</div>
                                    </td>

                                    <td class="text-center whitespace-nowrap">
                                        {% if call.status == 'PENDING' %}
                                            <p class="text-warning">{{ call.status }}</p>
                                        {% elif call.status == 0 %}
                                            <p class="text-success">NOT IN SERVICE</p>
                                        {% endif %}
                                    </td>

                                    <td class="table-report__action w-56">
                                        <div class="flex justify-center items-center">
                                            <a class="flex items-center mx-2 text-warning" href="{% url 'on-call-details' call.slug %}">
                                                <i data-lucide="eye" class="w-4 h-4 mx-2"></i>
                                            </a>

                                            {% if call.status == "PENDING" and user.is_superuser %}
                                                <a class="flex items-center mx-2" href="{% url 'on-call-edit' call.slug %}">
                                                    <i data-lucide="edit" class="w-4 h-4 mx-2"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width">
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                        </i>
                                    <div style="text-align: center;">No data available!</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- <div id="example-tab-2" class="tab-pane leading-relaxed" role="tabpanel" aria-labelledby="example-2-tab">
            <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                {% if sites %}
                    <table class="table table-report sm:mt-2">
                        <thead>
                            <tr>
                                <th class="text-center whitespace-nowrap">NO</th>
                                <th class="text-center whitespace-nowrap">DATE</th>
                                <th class="text-center whitespace-nowrap">CUSTOMER</th>
                                <th class="text-center whitespace-nowrap">WORK TYPE</th>
                                <th class="text-center whitespace-nowrap">WORK</th>
                                <th class="text-center whitespace-nowrap">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for site in sites %}
                                <tr class="intro-x">
                                    <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>
                                    <td class="font-medium text-center whitespace-nowrap">{{ site.date | date:'d M Y'}}</td>
                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap">{{ site.name }}</a>
                                        <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ site.mobile }}</div>
                                    </td>
                                    <td class="text-center whitespace-nowrap">{{ site.type | capfirst }}</td>
                                    <td class="text-center">
                                        <a href="" class="font-medium whitespace-nowrap">{{ site.service }}</a>
                                        <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ site.service.category }}</div>
                                    </td>
                                    <td class="table-report__action w-56">
                                        <div class="flex justify-center items-center">
                                            <a class="flex items-center mx-2 text-warning" href="{% url 'lead-view' site.slug %}">
                                                <i data-lucide="eye" class="w-4 h-4 mx-2"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                        <table class="table table-report -mt-2">
                            <tbody>
                                <tr class="intro-x width">
                                    <td class=" width" style="width:100%;">
                                        <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                        </i>
                                    <div style="text-align: center;">No data available!</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div> -->
    </div>
    <!-- END: Lead Followups -->

</div>
<!-- END: Content -->
{% endblock content %}