{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible show flex items-center mb-2 mt-5 text-white" role="alert">
                <i data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i>
                {{ message }}
                <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close">
                    <i data-lucide="x" class="w-4 h-4"></i>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row dark:border-darkmode-400 pb-5 -mx-5">
            <div class="flex-1 px-5 items-center justify-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> {{ lead.name }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ lead.mobile }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="mail" class="w-4 h-4 mr-2"></i> {{ lead.email }} </div>
                </div>
            </div>
            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="flex flex-col justify-center items-center mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="map-pin" class="w-4 h-4 mr-2"></i> {{ lead.location }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="clipboard" class="w-4 h-4 mr-2"></i> {{ lead.category }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="clipboard" class="w-4 h-4 mr-2"></i> {{ lead.service }} </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Profile Info -->

    <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
        <table class="table table-report sm:mt-2">
            <thead>
                <tr>
                    <th class="text-center whitespace-nowrap">NO</th>
                    <th class="text-center whitespace-nowrap">NAME</th>
                    <th class="text-center whitespace-nowrap">UNIT</th>
                    <th class="text-center whitespace-nowrap">QUANTITY</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr class="intro-x">
                        <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>

                        <td class="text-center whitespace-nowrap">{{ item.name }}</td>

                        <td class="text-center whitespace-nowrap">{{ item.unit }}</td>

                        <td class="text-center whitespace-nowrap">{{ item.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<!-- END: Content -->
{% endblock content %}