{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 mt-10">
            <h1 class="text-center text-3xl">SERVICE CALLS</h1>
            <hr class="mt-5">
        </div>

        <div class="col-span-12 mt-5">
            <div class="intro-y block sm:flex items-center h-10">
                <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                    <button class="btn box flex items-center text-slate-600 dark:text-slate-300"> <i data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> Export to Excel </button>
                    <a href="{% url 'call-add' %}" class="btn btn-success text-white mx-2">ADD SERVICE CALL</a>
                </div>
            </div>
            <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                <table class="table table-report sm:mt-2">
                    <thead>
                        <tr>
                            <th class="text-center whitespace-nowrap">SL NO</th>
                            <th class="text-center whitespace-nowrap">CALL ID</th>
                            <th class="text-center whitespace-nowrap">NAME</th>
                            <th class="text-center whitespace-nowrap">TYPE</th>
                            <th class="text-center whitespace-nowrap">ISSUE</th>
                            <th class="text-center whitespace-nowrap">SERVICE</th>
                            <th class="text-center whitespace-nowrap">STATUS</th>
                            <th class="text-center whitespace-nowrap">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="intro-x">
                            <td class="text-center whitespace-nowrap">1</td>
                            <td class="font-medium text-center whitespace-nowrap">#C001</td>
                            <td class="text-center whitespace-nowrap">Subash</td>
                            <td class="text-center whitespace-nowrap">Warranty</td>
                            <td class="text-center whitespace-nowrap">ELCB Dripping</td>
                            <td class="text-center whitespace-nowrap">
                                <p class="font-medium whitespace-nowrap">Maintanance</p>
                                <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">Electrical</div>
                            </td>
                            <td class="text-center whitespace-nowrap text-success">Active</td>
                            <td class="table-report__action w-56">
                                <div class="flex justify-center items-center">
                                    <a class="flex items-center mr-3" href=""> <i data-lucide="edit" class="w-4 h-4 mr-1"></i></a>
                                    <a class="flex items-center text-danger" href=""> <i data-lucide="trash-2" class="w-4 h-4 mr-1"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END: Content -->
{% endblock content %}