{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible show flex items-center mb-2 mt-5 text-white"
        role="alert">
        <i data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i>
        {{ message }}
        <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close">
            <i data-lucide="x" class="w-4 h-4"></i>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row dark:border-darkmode-400 pb-5 -mx-5">
            <div class="flex-1 px-5 items-center justify-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="user"
                            class="w-4 h-4 mr-2"></i> {{ on_call.customer.name }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="phone"
                            class="w-4 h-4 mr-2"></i> {{ on_call.customer.mobile }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="mail"
                            class="w-4 h-4 mr-2"></i> {{ on_call.customer.email | default:'None' }} </div>
                </div>
            </div>
            <div
                class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="flex flex-col justify-center items-center mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="map-pin"
                            class="w-4 h-4 mr-2"></i> {{ on_call.customer.location }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="clipboard"
                            class="w-4 h-4 mr-2"></i> {{ on_call.category }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="clipboard"
                            class="w-4 h-4 mr-2"></i> {{ on_call.service }} </div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-y box p-5 mt-5 flex">
        <div class="flex items-center">
            {{ on_call.info }}
        </div>
        {% if on_call.status != 'completed' %}
        <div class="ml-auto">
            <a href="{% url 'complete-on-call' on_call.slug %}"
                onclick="return confirm('Are you sure you want to mark this work as completed ?');"
                class="btn btn-success btn-sm text-white">Mark As Completed</a>
        </div>
        {% endif %}
    </div>
    <!-- END: Profile Info -->

    <!-- BEGIN: Lead Followups -->
    <div class="nav nav-boxed-tabs mt-5" role="tablist">
        <div id="technicians-tab" class="nav-item flex-1" role="presentation">
            <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#technicians-tab"
                type="button" role="tab" aria-controls="technicians-tab" aria-selected="true">
                Technicians
            </button>
        </div>

        <div id="attendance-tab" class="nav-item flex-1" role="presentation">
            <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#attendance-tab" type="button"
                role="tab" aria-controls="attendance-tab" aria-selected="false">
                Attendance
            </button>
        </div>

        <div id="expenses-tab" class="nav-item flex-1" role="presentation">
            <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#expenses-tab" type="button"
                role="tab" aria-controls="expenses-tab" aria-selected="false">
                Transactions
            </button>
        </div>
    </div>

    <div class="tab-content mt-5">

        <div id="technicians-tab" class="tab-pane leading-relaxed active" role="tabpanel"
            aria-labelledby="technicians-tab">
            <div class="col-span-12 mt-5">
                {% if on_call.status != 'completed' %}
                <div class="intro-y block sm:flex items-center h-10">
                    <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                        <button class="btn btn-primary text-white mx-2" data-tw-toggle="modal"
                            data-tw-target="#technician-modal">ASSIGN TECHNICIANS</button>
                    </div>
                </div>
                {% endif %}

                {% include 'tables/staffs.html' with staffs=on_call.staffs.all %}
            </div>
        </div>

        <div id="attendance-tab" class="tab-pane leading-relaxed" role="tabpanel" aria-labelledby="attendance-tab">
            <div class="col-span-12 mt-5">
                {% if on_call.status != 'completed' %}
                <div class="intro-y block sm:flex items-center h-10">
                    <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                        <button class="btn btn-primary text-white mx-2" data-tw-toggle="modal"
                            data-tw-target="#attendance-modal">ADD ATTENDANCE</button>
                    </div>
                </div>
                {% endif %}

                {% include 'tables/attendance.html' %}
            </div>
        </div>

        <div id="expenses-tab" class="tab-pane leading-relaxed" role="tabpanel" aria-labelledby="expenses-tab">
            <div class="col-span-12 mt-5">
                {% if on_call.status != 'completed' %}
                <div class="intro-y block sm:flex items-center h-10">
                    <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                        <button class="btn btn-primary text-white mx-2" data-tw-toggle="modal"
                            data-tw-target="#transaction-modal">ADD TRANSACTION</button>
                    </div>
                </div>
                {% endif %}

                {% include 'tables/payments.html' %}

            </div>
        </div>
    </div>
    <!-- END: Lead Followups -->

</div>
<!-- END: Content -->

<!-- BEGIN: Modal Content -->
<div id="technician-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form action="{% url 'assign-on-call-technician' on_call.slug %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header">
                    <h2 class="font-medium text-base mr-auto">Assign Staffs</h2>
                </div>
                <!-- END: Modal Header -->
                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="col-span-12 sm:col-span-12">
                        <select name="staffs" id="" class="tom-select" multiple>
                            <option value="">Search Staff</option>
                            {% if on_call.staffs %}
                            {% for staff in on_call.staffs.all %}
                            <option value="{{ staff.id }}" selected>
                                {{ staff.user.first_name }} ({{ staff.designation}})
                            </option>
                            {% endfor %}
                            {% endif %}

                            {% for staff in staffs %}
                            <option value="{{ staff.id }}">
                                {{ staff.user.first_name }} ({{ staff.designation }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- END: Modal Body -->
                <!-- BEGIN: Modal Footer -->
                <div class="modal-footer">
                    <button type="button" data-tw-dismiss="modal"
                        class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                    <button type="submit" class="btn btn-primary w-20">Submit</button>
                </div>
                <!-- END: Modal Footer -->
            </div>
        </form>
    </div>
</div>
<!-- END: Modal Content -->

<!-- BEGIN: Modal Content -->
<div id="attendance-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form action="{% url 'attendance-add' on_call.slug %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header">
                    <h2 class="font-medium text-base mr-auto">Add Attendance</h2>
                </div>
                <!-- END: Modal Header -->

                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Technician</label>
                        <select name="technician" id="" class="form-control">
                            <option value="">Select Technician</option>
                            {% for technician in on_call.staffs.all %}
                            <option value="{{ technician.slug }}">{{ technician }} ({{ technician.designation }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Date</label>
                        <input value="{{ today | date:'Y-m-d' }}" type="date" name="date" id="" class="form-control">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Duration</label>
                        <select name="duration" id="" class="form-control" required>
                            <option value="FULL">Full Day</option>
                            <option value="HALF">Half Day</option>
                            <option value="QUARTER">Quarter Day</option>
                        </select>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">From Time</label>
                        <input type="time" name="start_time" id="" class="form-control">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">To Time</label>
                        <input type="time" name="end_time" id="" class="form-control">
                    </div>
                </div>
                <!-- END: Modal Body -->
                <!-- BEGIN: Modal Footer -->
                <div class="modal-footer">
                    <button type="button" data-tw-dismiss="modal"
                        class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                    <button type="submit" class="btn btn-primary w-20">Submit</button>
                </div>
                <!-- END: Modal Footer -->
            </div>
        </form>
    </div>
</div>
<!-- END: Modal Content -->

<!-- BEGIN: Modal Content -->
<div id="transaction-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form action="{% url 'add-on-call-expense' on_call.slug %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header">
                    <h2 class="font-medium text-base mr-auto">Add Transaction</h2>
                </div>
                <!-- END: Modal Header -->

                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Transaction Type</label>
                        <select name="type" id="transaction-type" class="form-control">
                            <option value="">Select Transaction Type</option>
                            <option value="INCOME">INCOME</option>
                            <option value="EXPENSE">EXPENSE</option>
                        </select>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Transaction Category</label>
                        <select name="category" id="transaction-category" class="form-control">
                            <option value="">Select Category</option>
                        </select>
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Amount</label>
                        <input step="0.01" type="number" name="amount" id="" class="form-control"
                            placeholder="Enter transaction amount">
                    </div>

                    <div class="intro-y col-span-12 sm:col-span-6">
                        <label for="input-wizard-2" class="form-label">Title</label>
                        <input type="text" name="title" id="" class="form-control"
                            placeholder="Enter transaction title">
                    </div>
                </div>
                <!-- END: Modal Body -->
                <!-- BEGIN: Modal Footer -->
                <div class="modal-footer">
                    <button type="button" data-tw-dismiss="modal"
                        class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                    <button type="submit" class="btn btn-primary w-20">Submit</button>
                </div>
                <!-- END: Modal Footer -->
            </div>
        </form>
    </div>
</div>
<!-- END: Modal Content -->
{% endblock content %}