{% load static %}

<!DOCTYPE html>
<html lang="en" class="dark">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <link href="{% static 'backend/images/logo.svg' %}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Enigma admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
        <meta name="keywords" content="admin template, Enigma Admin Template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="LEFT4CODE">
        <title>Dashboard - Ecotonics</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="{% static 'backend/css/app.css' %}" />
        <!-- END: CSS Assets-->
    </head>

    <style>
        /* Hide scrollbar for WebKit browsers */
        body::-webkit-scrollbar {
            display: none;
        }

        /* Maintain functionality */
        body {
            scrollbar-width: none; /* For Firefox */
            -ms-overflow-style: none; /* For Internet Explorer and Edge */
        }

        .file {
            border: solid 1px;
            padding: 5px;
            border-color: rgb(var(--color-slate-200) / var(--tw-border-opacity));
        }
    </style>

    <!-- END: Head -->
    <body class="py-5 md:py-0 body">
        <!-- BEGIN: Mobile Menu -->
        <div class="mobile-menu md:hidden">
            <div class="mobile-menu-bar">
                <a href="" class="flex mr-auto">
                    <img alt="" class="w-6" src="{% static 'backend/images/logo.svg' %}">
                </a>
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
            </div>
            <div class="scrollable">
                <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
                <ul class="scrollable__content py-2">
                    <li>
                        <a href="{% url 'dashboard' %}" class="menu menu--active">
                            <div class="menu__icon"> <i data-lucide="home"></i> </div>
                            <div class="menu__title"> Dashboard </div>
                        </a>
                    </li>

                    {% if user.is_superuser %}
                        <li>
                            <a href="javascript:;" class="menu">
                                <div class="menu__icon"> <i data-lucide="dollar-sign"></i> </div>
                                <div class="menu__title"> Accounts <i data-lucide="chevron-down" class="menu__sub-icon "></i> </div>
                            </a>
                            <ul class="">
                                <li>
                                    <a href="{% url 'transaction-categories' %}" class="menu menu--active">
                                        <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="menu__title"> Categories </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'bank-accounts' %}" class="menu menu--active">
                                        <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="menu__title"> Bank Accounts </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="{% url 'transactions' %}" class="menu menu--active">
                                        <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="menu__title"> Transactions </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if user.is_technician %}
                        <li>
                            <a href="{% url 'attandance-add' %}" class="menu menu--active">
                                <div class="menu__icon"> <i data-lucide="clipboard"></i> </div>
                                <div class="menu__title"> Attendance </div>
                            </a>
                        </li>

                        <!-- <li>
                            <a href="" class="menu menu--active">
                                <div class="menu__icon"> <i data-lucide="dollar-sign"></i> </div>
                                <div class="menu__title"> Work Expense </div>
                            </a>
                        </li> -->
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- END: Mobile Menu -->
        <!-- BEGIN: Top Bar -->
        <div class="top-bar-boxed h-[70px] md:h-[65px] z-[51] border-b border-white/[0.08] mt-12 md:mt-0 -mx-3 sm:-mx-8 md:-mx-0 px-3 md:border-b-0 relative md:fixed md:inset-x-0 md:top-0 sm:px-8 md:px-10 md:pt-10 md:bg-gradient-to-b md:from-slate-100 md:to-transparent dark:md:from-darkmode-700">
            <div class="h-full flex items-center">
                <!-- BEGIN: Logo -->
                <a href="" class="logo -intro-x hidden md:flex xl:w-[180px] block">
                    <img alt="" class="logo__image w-6" src="{% static 'backend/images/logo.svg' %}">
                    <span class="logo__text text-white text-lg ml-3"> Ecotonics </span>
                </a>
                <!-- END: Logo -->
                <!-- BEGIN: Breadcrumb -->
                <nav aria-label="breadcrumb" class="-intro-x h-[45px] mr-auto">
                    <ol class="breadcrumb breadcrumb-light">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Application</a></li>
                        {% block breadcrumb %}
                            <li class="breadcrumb-item active" aria-current="page">{{ main | capfirst }}</li>
                        {% endblock breadcrumb %}
                    </ol>
                </nav>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Search -->
                <div class="intro-x relative mr-3 sm:mr-6">
                    <div class="search hidden sm:block">
                        <input type="text" class="search__input form-control border-transparent" placeholder="Search...">
                        <i data-lucide="search" class="search__icon dark:text-slate-500"></i>
                    </div>
                    <a class="notification notification--light sm:hidden" href=""> <i data-lucide="search" class="notification__icon dark:text-slate-500"></i> </a>
                    <div class="search-result">
                        <div class="search-result__content">
                            <div class="search-result__content__title">Pages</div>
                            <div class="mb-5">
                                <a href="" class="flex items-center">
                                    <div class="w-8 h-8 bg-success/20 dark:bg-success/10 text-success flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-lucide="inbox"></i> </div>
                                    <div class="ml-3">Mail Settings</div>
                                </a>
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 bg-pending/10 text-pending flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-lucide="users"></i> </div>
                                    <div class="ml-3">Users & Permissions</div>
                                </a>
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 bg-primary/10 dark:bg-primary/20 text-primary/80 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-lucide="credit-card"></i> </div>
                                    <div class="ml-3">Transactions Report</div>
                                </a>
                            </div>
                            <div class="search-result__content__title">Staffs</div>
                            <div class="mb-5">
                                <a href="" class="flex items-center mt-2">
                                    <div class="w-8 h-8 image-fit">
                                        <img alt="" class="rounded-full" src="{% static 'backend/images/preview.jpg' %}">
                                    </div>
                                    <div class="ml-3">Pranav P</div>
                                    <div class="ml-auto w-48 truncate text-slate-500 text-xs text-right">pranav@ecotonics.in</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Search -->
                <!-- BEGIN: Notifications -->
                <div class="intro-x dropdown mr-4 sm:mr-6">
                    <div class="dropdown-toggle notification notification--bullet cursor-pointer" role="button" aria-expanded="false" data-tw-toggle="dropdown"> <i data-lucide="bell" class="notification__icon dark:text-slate-500"></i> </div>
                    <div class="notification-content pt-2 dropdown-menu">
                        <div class="notification-content__box dropdown-content">
                            <div class="notification-content__title">Notifications</div>
                            <div class="cursor-pointer relative flex items-center ">
                                <div class="w-12 h-12 flex-none image-fit mr-1">
                                    <img alt="" class="rounded-full" src="{% static 'backend/images/preview.jpg' %}">
                                    <div class="w-3 h-3 bg-success absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                                </div>
                                <div class="ml-2 overflow-hidden">
                                    <div class="flex items-center">
                                        <a href="javascript:;" class="font-medium truncate mr-5">Pranav P</a>
                                        <div class="text-xs text-slate-400 ml-auto whitespace-nowrap">01:10 PM</div>
                                    </div>
                                    <div class="w-full truncate text-slate-500 mt-0.5">Subash site visit completed & prepared client requirement</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Notifications -->
                <!-- BEGIN: Account Menu -->
                <div class="intro-x dropdown w-8 h-8">
                    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110" role="button" aria-expanded="false" data-tw-toggle="dropdown">
                        {% if user.photo %}
                            <img alt="" src="{{ user.photo.url }}">
                        {% else %}
                            <img alt="" src="{% static 'backend/images/preview.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="dropdown-menu w-56">
                        <ul class="dropdown-content bg-primary/80 before:block before:absolute before:bg-black before:inset-0 before:rounded-md before:z-[-1] text-white">
                            <li class="p-2">
                                <div class="font-medium">{{ user.username }}</div>
                                {% if user.is_superuser %}
                                    <div class="text-xs text-white/60 mt-0.5 dark:text-slate-500">Admin</div>
                                {% else %}
                                    <div class="text-xs text-white/60 mt-0.5 dark:text-slate-500">{{ user.designation }}</div>
                                {% endif %}
                            </li>
                            <li>
                                <hr class="dropdown-divider border-white/[0.08]">
                            </li>
                            <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> Profile </a>
                            </li>
                            <li>
                                <a href="" class="dropdown-item hover:bg-white/5"> <i data-lucide="lock" class="w-4 h-4 mr-2"></i> Reset Password </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider border-white/[0.08]">
                            </li>
                            <li>
                                <a href="{% url 'sign-out' %}" class="dropdown-item hover:bg-white/5"> <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Account Menu -->
            </div>
        </div>
        <!-- END: Top Bar -->
        <div class="flex overflow-hidden">
            <!-- BEGIN: Side Menu -->
            <nav class="side-nav">
                <ul>
                    <li>
                        <a href="{% url 'dashboard' %}" class="side-menu {% if main == 'dashboard' %} side-menu--active {% endif %}">
                            <div class="side-menu__icon"> <i data-lucide="home"></i> </div>
                            <div class="side-menu__title"> Dashboard </div>
                        </a>
                    </li>

                    {% if user.is_superuser %}
                        <li>
                            <a href="javascript:;" class="side-menu {% if main == 'services' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="settings"></i> </div>
                                <div class="side-menu__title">
                                    Services
                                    <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                                </div>
                            </a>
                            <ul class="{% if main == 'services' %} side-menu__sub-open {% endif %}">
                                <li>
                                    <a href="{% url 'categories' %}" class="side-menu {% if sub == 'categories' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Categories </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'services' %}" class="side-menu {% if sub == 'services' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Services </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" class="side-menu {% if main == 'workforce' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="tag"></i> </div>
                                <div class="side-menu__title">
                                    Workforce
                                    <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                                </div>
                            </a>
                            <ul class="{% if main == 'workforce' %} side-menu__sub-open {% endif %}">
                                <li>
                                    <a href="{% url 'departments' %}" class="side-menu {% if sub == 'departments' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Departments </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'designations' %}" class="side-menu {% if sub == 'designations' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Designations </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'staffs' %}" class="side-menu {% if sub == 'staffs' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Staffs </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" class="side-menu {% if main == 'customers' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="users"></i> </div>
                                <div class="side-menu__title">
                                    Customers
                                    <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                                </div>
                            </a>
                            <ul class="{% if main == 'customers' %} side-menu__sub-open {% endif %}">
                                <li>
                                    <a href="{% url 'customers' 'enterprise' %}" class="side-menu {% if sub == 'enterprise' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Enterprises </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'customers' 'individual' %}" class="side-menu {% if sub == 'individual' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Individuals </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" class="side-menu {% if main == 'leads' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="clipboard"></i> </div>
                                <div class="side-menu__title">
                                    Leads
                                    <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                                </div>
                            </a>
                            <ul class="{% if main == 'leads' %} side-menu__sub-open {% endif %}">
                                <li>
                                    <a href="{% url 'leads' 'pending' %}" class="side-menu {% if sub == 'pending' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Pending Leads </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'leads' 'failed' %}" class="side-menu {% if sub == 'failed' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Failed Leads </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" class="side-menu {% if main == 'works' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="clipboard"></i> </div>
                                <div class="side-menu__title">
                                    Works
                                    <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                                </div>
                            </a>
                            <ul class="{% if main == 'works' %} side-menu__sub-open {% endif %}">
                                <li>
                                    <a href="{% url 'works' 'pending' %}" class="side-menu {% if sub == 'pending' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> PENDING </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'works' 'ongoing' %}" class="side-menu {% if sub == 'ongoing' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> ONGOING </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'works' 'completed' %}" class="side-menu {% if sub == 'completed' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> COMPLETED </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;" class="side-menu {% if main == 'accounts' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="dollar-sign"></i> </div>
                                <div class="side-menu__title">
                                    Accounts
                                    <div class="side-menu__sub-icon "> <i data-lucide="chevron-down"></i> </div>
                                </div>
                            </a>
                            <ul class="{% if main == 'accounts' %} side-menu__sub-open {% endif %}">
                                <li>
                                    <a href="{% url 'overview' %}" class="side-menu {% if sub == 'overview' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Overview </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'transactions' %}" class="side-menu {% if sub == 'transactions' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Transactions </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'transaction-categories' %}" class="side-menu {% if sub == 'categories' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Categories </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'bank-accounts' %}" class="side-menu {% if sub == 'bank-accounts' %} side-menu--active {% endif %}">
                                        <div class="side-menu__icon"> <i data-lucide="activity"></i> </div>
                                        <div class="side-menu__title"> Bank Accounts </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- <li>
                            <a href="{% url 'calls' %}" class="side-menu {% if main == 'calls' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="phone-call"></i> </div>
                                <div class="side-menu__title"> Service Calls </div>
                            </a>
                        </li> -->
                    {% endif %}

                    {% if user.is_technician %}
                        <li>
                            <a href="{% url 'assigned-works' %}" class="side-menu {% if main == 'assigned-works' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="file-text"></i> </div>
                                <div class="side-menu__title"> Assigned Works </div>
                            </a>
                        </li>

                        <!-- <li>
                            <a href="" class="side-menu {% if main == 'expense' %} side-menu--active {% endif %}">
                                <div class="side-menu__icon"> <i data-lucide="dollar-sign"></i> </div>
                                <div class="side-menu__title"> Work Expense </div>
                            </a>
                        </li> -->

                    {% endif %}

                    <li>
                        <a href="{% url 'attandance' %}" class="side-menu {% if main == 'attendance' %} side-menu--active {% endif %}">
                            <div class="side-menu__icon"> <i data-lucide="clipboard"></i> </div>
                            <div class="side-menu__title"> Attandance </div>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- END: Side Menu -->

            {% block content %}

            {% endblock content %}
        </div>

        <!-- BEGIN: JS Assets-->
        <script src="{% static 'backend/js/app.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="{% static 'backend/js/core.js' %}"></script>
        <!-- END: JS Assets-->
    </body>
</html>