{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12">
            <div class="grid grid-cols-12 gap-6">
                <!-- BEGIN: General Report -->
                <div class="col-span-12 mt-8">
                    <div class="intro-y flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            General Report
                        </h2>
                        <a href="" class="ml-auto flex items-center text-primary"> <i data-lucide="refresh-ccw"
                                class="w-4 h-4 mr-3"></i> Reload Data </a>
                    </div>
                    <div class="grid grid-cols-12 gap-6 mt-5">
                        <a href="{% url 'on-calls' %}" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="box" class="report-box__icon text-warning"></i>
                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">{{ pending_works.count }}</div>
                                    <div class="text-base text-slate-500 mt-1">Pending Works</div>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'on-calls' %}" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="activity" class="report-box__icon text-warning"></i>
                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">{{ ongoing_works.count }}</div>
                                    <div class="text-base text-slate-500 mt-1">Ongoing Works</div>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'on-calls' %}" class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="users" class="report-box__icon text-warning"></i>
                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">{{ completed_works.count }}</div>
                                    <div class="text-base text-slate-500 mt-1">Completed Works</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END: General Report -->

                <div class="col-span-12">
                    <div class="nav nav-boxed-tabs mt-5" role="tablist">
                        <div id="today-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full py-2 active" data-tw-toggle="pill"
                                data-tw-target="#today-tab" type="button" role="tab" aria-controls="today-tab"
                                aria-selected="true">
                                Today Tasks
                            </button>
                        </div>

                        <div id="overdue-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#overdue-tab"
                                type="button" role="tab" aria-controls="overdue-tab" aria-selected="false">
                                Overdue Tasks
                            </button>
                        </div>

                        <div id="upcoming-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#upcoming-tab"
                                type="button" role="tab" aria-controls="upcoming-tab" aria-selected="false">
                                Upcoming Tasks
                            </button>
                        </div>
                    </div>

                    <div class="tab-content mt-5">

                        <div id="today-tab" class="tab-pane leading-relaxed active" role="tabpanel"
                            aria-labelledby="today-tab">

                            {% include 'tables/tasks.html' with tasks=today_tasks %}

                        </div>

                        <div id="overdue-tab" class="tab-pane leading-relaxed" role="tabpanel"
                            aria-labelledby="overdue-tab">

                            {% include 'tables/tasks.html' with tasks=overdue_tasks %}

                        </div>

                        <div id="upcoming-tab" class="tab-pane leading-relaxed" role="tabpanel"
                            aria-labelledby="upcoming-tab">

                            {% include 'tables/tasks.html' with tasks=upcoming_tasks %}

                        </div>
                    </div>
                </div>

                <!-- BEGIN: Weekly Top Products -->
                <div class="col-span-12 mt-6">
                    <div class="intro-y block sm:flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Ongoing Works
                        </h2>
                    </div>

                    {% include 'tables/oncalls.html' with on_calls=ongoing_works %}
                </div>
                <!-- END: Weekly Top Products -->
            </div>
        </div>
    </div>
</div>
<!-- END: Content -->
{% endblock content %}