{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<!-- BEGIN: Content -->
<div class="content">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible show flex items-center mb-2 mt-5 text-white" role="alert">
                <i data-lucide="alert-octagon" class="w-6 h-6 mr-2"></i>
                {{ message }}
                <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close">
                    <i data-lucide="x" class="w-4 h-4"></i>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
            <div class="flex flex-1 px-5 items-center justify-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="user" class="w-4 h-4 mr-2"></i> {{ work.lead.name }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="phone" class="w-4 h-4 mr-2"></i> {{ work.lead.mobile }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="mail" class="w-4 h-4 mr-2"></i> {{ work.lead.email }} </div>
                </div>
            </div>
            <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                <div class="flex flex-col justify-center items-center mt-4">
                    <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="map-pin" class="w-4 h-4 mr-2"></i> {{ work.lead.location }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="clipboard" class="w-4 h-4 mr-2"></i> {{ work.lead.category }} </div>
                    <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="clipboard" class="w-4 h-4 mr-2"></i> {{ work.lead.service }} </div>
                </div>
            </div>
            <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-slate-200/60 dark:border-darkmode-400 pt-5 lg:pt-0">
                <div class="text-center rounded-md w-20 py-3">
                    <div class="font-medium text-xl">{{ work.technicians.count }}</div>
                    <div class="text-slate-500">Technicians</div>
                </div>
                <div class="text-center rounded-md w-20 py-3">
                    <div class="font-medium text-xl">22 D</div>
                    <div class="text-slate-500">Worked</div>
                </div>
                <div class="text-center rounded-md w-20 py-3">
                    <div class="font-medium text-xl">76.78K</div>
                    <div class="text-slate-500">Accounts</div>
                </div>
            </div>
        </div>
        <ul class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center" role="tablist" >
            <li id="technician-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center active" data-tw-target="#technician" aria-controls="technician" aria-selected="true" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="user"></i> technician </a>
            </li>
            <li id="account-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#account" aria-selected="false" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="shield"></i> Account </a>
            </li>
            <li id="attendance-tab" class="nav-item" role="presentation">
                <a href="javascript:;" class="nav-link py-4 flex items-center" data-tw-target="#attendance" aria-selected="false" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="clipboard"></i> Attendance </a>
            </li>
        </ul>
    </div>
    <!-- END: technician Info -->
    <div class="tab-content mt-5">
        <div id="technician" class="tab-pane active" role="tabpanel" aria-labelledby="technician-tab">
            <div class="col-span-12 mt-5">
                <div class="intro-y block sm:flex items-center h-10">
                    <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                        <button class="btn btn-success text-white mx-2" data-tw-toggle="modal" data-tw-target="#technician-modal">ASSIGN TECHNICIANS</button>
                    </div>
                </div>
                <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                    {% if work.technicians.all %}
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center whitespace-nowrap">NO</th>
                                    <th class="text-center whitespace-nowrap">NAME</th>
                                    <th class="text-center whitespace-nowrap">PHOTO</th>
                                    <th class="text-center whitespace-nowrap">MOBILE</th>
                                    <th class="text-center whitespace-nowrap">EMAIL</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for technician in work.technicians.all %}
                                    <tr class="intro-x">
                                        <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>

                                        <td class="text-center">
                                            <a href="" class="font-medium whitespace-nowrap">{{ technician }}</a>
                                            <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ technician.designation }} / {{ technician.department }}</div>
                                        </td>

                                        <td class="">
                                            <div class="flex justify-center">
                                                <div class="w-10 h-10 image-fit zoom-in">
                                                    {% if technician.user.photo %}
                                                        <img alt="" class="tooltip rounded-full" src="{{ technician.user.photo.url }}" title="{{ technician }}">
                                                    {% else %}
                                                        <img alt="" class="tooltip rounded-full" src="{% static 'backend/images/preview-11.jpg' %}" title="{{ technician }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>

                                        <td class="text-center whitespace-nowrap">{{ technician.user.mobile }}</td>

                                        <td class="text-center whitespace-nowrap">{{ technician.user.email }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                            <table class="table table-report -mt-2">
                                <tbody>
                                    <tr class="intro-x width">
                                        <td class=" width" style="width:100%;">
                                            <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                            </i>
                                        <div style="text-align: center;">No data available!</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="account" class="tab-pane" role="tabpanel" aria-labelledby="account-tab">
            <div class="col-span-12 mt-5">
                <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                    {% if expenses %}
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center whitespace-nowrap">NO</th>
                                    <th class="text-center whitespace-nowrap">DATE</th>
                                    <th class="text-center whitespace-nowrap">CREATED</th>
                                    <th class="text-center whitespace-nowrap">CATEGORY</th>
                                    <th class="text-center whitespace-nowrap">TITLE</th>
                                    <th class="text-center whitespace-nowrap">DESCRIPTION</th>
                                    <th class="text-center whitespace-nowrap">AMOUNT</th>
                                    <th class="text-center whitespace-nowrap">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in expenses %}
                                    <tr class="intro-x">
                                        <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>

                                        <td class="text-center whitespace-nowrap">{{ expense.date | date:'d M Y' }}</td>

                                        <td class="text-center">
                                            <a href="" class="font-medium whitespace-nowrap">{{ expense.technician | default:'Admin' }}</a>
                                            {% if work.technican %}
                                                <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ expense.technician.designation }} / {{ expense.technician.department }}</div>
                                            {% endif %}
                                        </td>

                                        <td class="text-center whitespace-nowrap">{{ expense.category }}</td>

                                        <td class="text-center whitespace-nowrap font-medium">{{ expense.title }}</td>

                                        <td class="text-center whitespace-nowrap font-medium">{{ expense.description }}</td>

                                        <td class="text-center whitespace-nowrap text-danger font-medium">{{ expense.amount }}</td>

                                        <td class="table-report__action w-24">
                                            <div class="flex justify-center items-center">
                                                <a class="flex items-center text-danger" href="" onclick="return confirm('Are you sure you want to delete the transaction ?');">
                                                    <i data-lucide="trash-2" class="w-4 h-4"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                            <table class="table table-report -mt-2">
                                <tbody>
                                    <tr class="intro-x width">
                                        <td class=" width" style="width:100%;">
                                            <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                            </i>
                                        <div style="text-align: center;">No data available!</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="attendance" class="tab-pane" role="tabpanel" aria-labelledby="attendance-tab">
            <div class="col-span-12 mt-5">
                <div class="intro-y overflow-auto lg:overflow-visible mt-5 sm:mt-0">
                    {% if attendances %}
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>
                                    <th class="text-center whitespace-nowrap">NO</th>
                                    <th class="text-center whitespace-nowrap">TECHNICIAN</th>
                                    <th class="text-center whitespace-nowrap">PHOTO</th>
                                    <th class="text-center whitespace-nowrap">SITE</th>
                                    <th class="text-center whitespace-nowrap">START TIME</th>
                                    <th class="text-center whitespace-nowrap">END TIME</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attendance in attendances %}
                                    <tr class="intro-x">
                                        <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>
                                        <td class="text-center">
                                            <a href="" class="font-medium whitespace-nowrap">{{ attendance.technician }}</a>
                                            <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">{{ attendance.technician.designation }} / {{ attendance.technician.department }}</div>
                                        </td>
                                        <td class="">
                                            <div class="flex justify-center">
                                                <div class="w-10 h-10 image-fit zoom-in">
                                                    {% if attendance.technician.user.photo %}
                                                        <img alt="" class="tooltip rounded-full" src="{{ attendance.technician.user.photo.url }}" title="{{ technician }}">
                                                    {% else %}
                                                        <img alt="" class="tooltip rounded-full" src="{% static 'backend/images/preview-11.jpg' %}" title="{{ technician }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center whitespace-nowrap">{{ attendance.work }}</td>
                                        <td class="text-center whitespace-nowrap text-success">{{ attendance.start_time | date:"h:i A" }}</td>
                                        <td class="text-center whitespace-nowrap text-warning">{{ attendance.end_time | date:"h:i A" }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-5">
                            <table class="table table-report -mt-2">
                                <tbody>
                                    <tr class="intro-x width">
                                        <td class=" width" style="width:100%;">
                                            <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;" class="w-6 h-6 mr-2 text-white bg-success">
                                            </i>
                                        <div style="text-align: center;">No data available!</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content -->

<!-- BEGIN: Modal Content -->
<div id="technician-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form action="{% url 'assign-technician' work.slug %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <!-- BEGIN: Modal Header -->
                <div class="modal-header">
                    <h2 class="font-medium text-base mr-auto">Technicians</h2>
                </div>
                <!-- END: Modal Header -->
                <!-- BEGIN: Modal Body -->
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="col-span-12 sm:col-span-12">
                        <select name="technicians" id="" class="tom-select" multiple>
                            <option value="">Search Technicians</option>
                            {% for technician in technicians %}
                                <option value="{{ technician.id }}">{{ technician.user.first_name }} ({{ technician.designation }})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- END: Modal Body -->
                <!-- BEGIN: Modal Footer -->
                <div class="modal-footer">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button>
                    <button type="submit" class="btn btn-primary w-20">Submit</button>
                </div>
                <!-- END: Modal Footer -->
            </div>
        </form>
    </div>
</div>
<!-- END: Modal Content -->
{% endblock content %}